html {
    font-size:14px;
}

body, html {
    margin:0;
}

body {
    padding-top: 1rem;
    background-color: #0D0D12;
    font-family: 'Crimson Pro', serif;
    /* font-family: 'Poppins', sans-serif; */
    color:#d8d8dd;
}

p, h1, h2, h3, h4, h5, h6 {
    margin:unset;
    font-weight: 100;
}

a {
    color: #d8d8dd;
    text-decoration: none;
    background: #222;
} a:not(.contact_bt):visited {
    background: #010101;
} h2 a, p a {
    padding: 0 5px;
}

strong, b {
    color: #fff;
    font-weight: 100;
}

h2, h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: 100;
    padding: 0 2rem;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 4rem;
    background-color: #0D0D12;
} #logo {
    height: 62%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
} .logo_polygon {
    fill:none;stroke:#d8d8dd;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
}

#lang {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0.9rem;
    right: 3vw;
    padding: 0.3rem 0.5rem;
    background: #000;
}

main {
    position: relative;
}

h1 {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 2rem;
} h1 span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.15rem;
    display: block;
}

#my_photo {
    width: 80%;
    height: 20rem;
    display: block;
    margin: 0 auto 1.5rem auto;
    object-fit: contain;
}

#hamburguer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
} #hamburguer > div {
    display: flex;
    justify-content: space-between;
} #hamburguer div div {
    width: 0.3rem;
    height: 0.3rem;
    background: white;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
} #hamburguer > div:nth-child(2) {
    margin: 0.4rem 0;
}

nav {
    right: 2rem;
    bottom: 2rem;
    transition: box-shadow 0.4s ease-out;
    z-index: 1;
} .pressed_nav, .contact_bt:hover {
    box-shadow: -0.3rem -0.3rem 0.7rem #000004, 0.3rem 0.3rem 0.7rem #232327;
} nav, .contact_bt {
    position: fixed;
    bottom: 2rem;
    width: 4rem;
    height: 4rem;
    background: #0D0D12;
    border-radius: 0.4rem;
    box-shadow: 0.3rem 0.3rem 0.7rem #000004, -0.3rem -0.3rem 0.7rem #232327;
} nav svg {
    width: 100%;
    height: 50%;
    position: relative;
    top: 25%;
} .nav_svg{
    fill:none;stroke:#D8D8DD;stroke-width:40;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
} .contact_bt path {
    fill:#D8D8DD;
} .circle{
    fill:#D8D8DD;
}

#whats_bt {
    right: 8rem;
    transition-delay: 0.15s;
} #linkedin_bt {
    right: 14rem;
    transition-delay: 0.3s;
} #email_bt {
    right: 20rem;
    transition-delay: 0.45s;
}

.contact_bt {
    opacity:0;
    transform:scale(0.6);
    transform-origin: center right;
    transition:opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#animation_bg {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    height: 50rem;
}

#circles {
    position: absolute;
    opacity: 0.1;
    top: 8rem;
    left: -11rem;
    width: 18rem;
    animation: circle_rotation 40s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

@keyframes circle_rotation {
    0% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.vert_line {
    width: 1px;
    height: 6rem;
    border-right: 1px solid white;
    margin: 2rem auto;
}

.title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.post {
    display: block;
    padding: 0 2.5rem;
    box-sizing: border-box;
    margin: 0 0 7rem 0;
    position: relative;
} .post:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4.5rem;
    width: 1px;
    height: 2rem;
    border-right: 1px solid white;
    margin: 0 auto;
} .post img {
    width: 100%;
} .post h4 {
    font-size: 2.3rem;
    margin: 0 0 0.8rem 0;
} .post p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-align: justify;
} .post a {
    line-height: 3.5rem;
    margin: 1.4rem 0 0 0;
    width: 100%;
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: #0D0D12;
    border-radius: 0.4rem;
    box-shadow: 0.3rem 0.3rem 0.7rem #000004, -0.3rem -0.3rem 0.7rem #232327;
} time {
    display: block;
    margin: 1.2rem 0 -0.2rem 0;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: 0.3rem;
}

#noise {
    background-image: url(assets/noise.gif);
    mix-blend-mode: difference;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0.2;
    pointer-events: none;
}






























@media (min-height:600px) and (min-width:100vh) {
    
    html {
        font-size: 16px;
    }

    #logo {
        width: auto;
        left: 3vw;
    }

    #grid_ctnr {

    }

    /* #my_photo {
        position: absolute;
        right: 20vw;
        width: unset;
        top: 0;
        margin: 0;
    } */

    .post {
        width: 60%;
        max-width: 50rem;    
    } .post:nth-child(even) {
        margin:0 0 0 auto;
    } .post:nth-child(odd) {
        margin:0 auto 0 0;
    }

}