:root {
    --color-1:#f8f8ff;
    --color-2:#5900FF;
    --color-text:#6300ff;
    --color-3:#fff619;
    --color-5: #2700B5;
}

body, html {
    margin:0;
    scroll-behavior: smooth;
}


html {
    font-size: clamp(14px, 4vw, 2.2vh);
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color:var(--color-1);
    color:var(--color-text);
    font-feature-settings: 'lnum' 1;
}

h1, h2, h3, h4, h5, h6, p {
    margin: unset;
    font-weight:unset;
}

b, strong {
    font-weight: 600;
}

a {
    color:unset;
    text-decoration: none;
}

header {
    position: sticky;
    top: -1.5rem;
    font-size: 0.9rem;
    z-index: 2;
} #language {
    display: block;
    color: #f8f8ff;
    background-color: var(--color-2);
    z-index: 10;
    font-weight: 700;
    width: 20%;
    padding: 2.5rem 0 1rem 0;
    text-align: center;
} #top_bts {
    position: absolute;
    top: 0;
    left: 20vw;
    right: 0;
    color: var(--color-text);
    font-weight: 600;
    letter-spacing: 0.1rem;
    background-color: var(--color-1);
    display: flex;
} #top_bts span {
    padding: 2.5rem 0 1rem 0;
    width: 40%;
    display: inline-block;
    text-align: center;
}  #top_bts span:hover {
    background-color:rgba(0,0,0,0.06);
}

#about_window {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 80%;
    background: var(--color-1);
    border: 0.1rem solid var(--color-2);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition:opacity 0.4s ease, visibility 0.4s ease;
} #about_window h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0 0 0;
} #about_window h4 {
    font-size: 1rem;
    text-align: center;
    margin: 0.4rem 0 1.5rem 0;
}  #about_window iframe {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 60vh;
    background-color:rgba(100,100,100,0.1);
}

#left_panel {
    border-right: 0.1rem solid var(--color-2);
    background-color: unset;
    position: fixed;
    /* top: 0; */
    left: 0;
    bottom: 0;
    right: 80%;
    height: 100%;
}

main {
    margin-left: 20%;
    padding-top: 2rem;
    padding-bottom: 20rem;
}


/* #right_bottom_panel {
    background-color: var(--color-3);
    mix-blend-mode: color-burn;
    position: fixed;
    right:0;
    bottom:0;
    top:85.4%;
    height: 14.6%;
    left: calc(20% - 0.15rem);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    pointer-events: none;
} */

#intro_flex > * {
    padding: 0 5vw;
    margin-bottom: 2vh;
}

#indicator {
    margin-top: 2rem;
} #indicator div {
    width: 0.5rem;
    height: 0.5rem;
    border-left: 0.3rem solid;
    border-bottom: 0.3rem solid;
    transform: rotate(-45deg) translateX(0.5rem);
    margin-top: 0.9rem;
}

.post {
    padding: 2rem 5vw;
} .post a {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0 0 -5vw;
    padding-left: 5vw;
    line-height: 2.5rem;
} .post a::before {
    content: '';
    position: absolute;
    left: -0.1rem;
    top: 0;
    bottom: 0;
    width: 0.3rem;
    background-color: var(--color-2);
}

.intro_padding_line {
    position: relative;
    border-top: 0.1rem solid var(--color-2);
} .padding_line {
    position: sticky;
    top: 2.9rem;
    border-top: 0.1rem solid var(--color-2);
    z-index: 2;
}

#hi {
    color: var(--color-text);
    position: absolute;
    font-weight: 700;
    font-size: clamp(1rem, 3rem, 13vw);
    left: 0;
    right: 80%;
    margin-top: 2rem;
    text-align: right;
    padding-right: 2vw;
    line-height: 3.3rem;
} #im_andre {
    font-size: clamp(1rem, 3rem, 13vw);
    font-weight: 700;
    line-height: 3.3rem;
    display: block;
    position: relative;
} #im_andre p {
    font-weight: 500;
    margin-top: 0.5rem;
} #im_andre span {
    position: absolute;
    transform: translate(calc(4vw + 1rem), -50%);
    color: var(--color-2);
    font-size: 4rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 400;
}

.post_bullets {
    display: flex;
    flex-flow: row wrap;
    margin: 0.4rem 0;
} .post_bullets span {
    background: rgba(100,100,100,0.1);
    padding: 0.3rem 0.6rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 1px;
}

time {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
} .post h2 {
    margin: 0.3rem 0 0 0;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
} h2 strong, h2 b {
    font-weight: 800;
} .post p {
    margin-bottom: 1rem;
}

#bts_container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 80%;
    height: 20vw;
    display: flex;
    justify-content: center;
} #bts_container svg {
    width: 45%;
    height: 45%;
} #bts_container path, #bts_container polygon {
    fill:#f8f8ff;
} #hamburger {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: var(--color-2);
} #hamburger > div {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} #hamburger > div > div {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} #hamburger > div > div > div {
    width: 20%;
    height: 100%;
    background-color: #f8f8ff;
    transition: background-color 0.4s ease;
} .menu_bts {
    width: 65%;
    height: 65%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-2);
    border-radius: 0.2rem;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.whats_bt {
    transform: translateY(-180%) scale(1);
    transition-delay: 0s;
} .email_bt {
    transform: translateY(-320%) scale(1);
    transition-delay: 0.06s;
} .github_bt {
    transform: translateY(-460%) scale(1);
    transition-delay: 0.12s;
} .linkedin_bt {
    transform: translateY(-600%) scale(1);
    transition-delay: 0.18s;
} .codepen_bt {
    transform: translateY(-740%) scale(1);
    transition-delay: 0.24s;
}

.showing_bts {
    transform: translateY(0) scale(-0.3);
    will-change: transform;
}


























/* @media (prefers-color-scheme: dark) {
    :root {
        --color-1: #08041A;
        --color-2: #4900FF;
        --color-text:#f8f8ff;
        --color-5: #121221;
    }
    #right_bottom_panel {
        mix-blend-mode: difference;
    }

    #indicator div {
        border-left: 0.3rem solid;
        border-bottom: 0.3rem solid;
    }

    #top_bts {
        font-weight: 300;
    }

    .post_bullets span {
        font-weight: 400;
    }
} */





















@media (min-width:100vh) {
    
    html {
        font-size: calc(12px + 0.3vw);
    }

    header {
        position: fixed;
        width: 61.8%;
        top: 0;
        left: 38.2%;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    #im_andre span {
        right: unset;
        font-size: 7rem;
        top: unset;
    }

    #hamburger {
        display: none;
    } #bts_container {
        width: 38.2%;
        height: 7rem;
        justify-content: space-evenly;
        align-items: center;
    } #bts_container .showing_bts {
        transform: inherit;
        will-change: unset;
        position: relative;
        width: 3.2rem;
        height: 3.2rem;
        background-color: var(--color-1);
    } #bts_container path, #bts_container polygon {
        fill: var(--color-2);
    }

    #left_panel {
        background-color: var(--color-2);
        right: 61.8%;
        border-right: unset;
    }

    #right_bottom_panel {
        right:0;
        bottom:0;
        top:0;
        left:91%;
    }

    .intro_padding_line {
        position: relative;
        z-index: 1;
    }
    #language {
        position: absolute;
        right: 0;
        color: var(--color-2);
        background-color: unset;
        width: unset;
        padding: 1rem 2rem;
    } #top_bts {
        padding: 1rem;
        position: relative;
        left: 0;
    } #top_bts span {
        padding: 2.5rem 1rem 1rem 1.4rem;
        transition:background-color 0.3s ease;
    } #top_bts span:hover {
        background-color:rgba(0,0,0,0.03);
    }

    .padding_line {
        top: 3rem;
    }

    #intro_title {
        top: 8rem;
        font-size: 6rem;
    } #hi {
        color: #f8f8ff;
        font-size: 6rem;
        right: 61.8%;
        line-height: 6rem;
        margin-top: 10rem;
        padding-right: 1rem;
    }

    #intro_flex > * {
        padding: 0 2rem;
    }

    #im_andre {
        line-height: 6rem;
        font-size: 6rem;
    } #im_andre p {
        width: 60%;
        line-height: 1.8rem;
    }

    .post {
        padding: 3rem 2rem;
    } .post h2 {
        font-size: 2.5rem;
        max-width: 36rem;
    } .post p {
        max-width: 38rem;
    }

    #intro_p {
        width: calc(22rem + 10vw);
    }

    main {
        margin-left: 38.2%;
        padding-top: 10rem;
    }
    
    
}













@media (min-height:200vw) {

}